* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background: #F2F2F2;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.box {
  width: 100%;
  margin: 0 auto;
  margin-top: 71px;
  width: 474px;
  height: 628px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
  border-radius: 8px;
}

.container {
  margin-left: 32px;
  margin-right: 32px;
}

.header__text {
  padding-top: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;

  color: #000000;
}

.menu {
  margin-left: auto;
}

.menu ul {
  display: flex;
  align-items: center;
  height: 76px;
}

.menu li+li {
  padding-left: 24px;
}

.menu a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.48);
  height: 76px;
  padding-bottom: 27px;
  padding-top: 27px;
}

.menu a:hover {
  color: #111111;
  border-bottom: 2px solid #6E41E2;
}

.header__social {
  width: 100%;
  height: 60px;
  background: #FAFAFA;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  border-top: 1px solid #F1F1F1;
}

.container .header__social-box {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__text p {
  font-family: Roboto;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  display: flex;
  align-items: center;

  color: #000000;
}

.social {
  display: flex;

}

.login100-social-item {
  font-size: 18px;
  color: #3b5998;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.login100-social-item img {
  width: 18px;
}

.register-form input {
  width: 100%;
  height: 56px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);


  border-radius: 4px;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 24px;
}

.contact100-form-checkbox {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.input-checkbox100 {
  width: 24px;
  height: 24px;
}

.label-checkbox100 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #000000;


  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: center;
  margin-left: 12px;
}

.footer {
  margin-top: 32px;
}

.btn {
  max-width: 100%;
  height: 44px;
  background: #6E41E2;
  border-radius: 4px;
  display: flex;
  justify-content: center;

}

.btn p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 44px;
  color: #FFFFFF;
}

.sign {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 44px;
  align-items: center;
  margin-top: 2px;
}

.sign p {
  color: #6E41E2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}